h1 {
    color: blue;
    background-color: wheat;
}

.practice0001{
                        width: 500px;
                        height: 300px;
                        color: black;
                        background-color:burlywood;
}

.practice0002{
                        width: 100%;
                        height: 100%;
                        color: rgb(255, 0, 0);
                        background-color:rgb(250, 164, 4);
}

.practice003{
text-decoration: line-through;
}

.practice0031{
 text-decoration: overline;
}

.practice0032{
 text-decoration: underline;
                       }