h1 {
    color: blue;
    background-color: wheat;
}

.practice0001{
                        width: 500px;
                        height: 300px;
                        color: black;
                        background-color:burlywood;
}