h1 {
    color: blue;
    background-color: wheat;
}

.practice0001{
                        width: 500px;
                        height: 300px;
                        color: black;
                        background-color:burlywood;
}

.practice0002{
                        width: 98%;
                        height: 100px;
                        color: red;
                        background-color:wheat;
}